<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.quinnipiac.assignment2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Find Games by Genre"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HelpActivity"
            android:label="Help"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="Find Me Games!"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" android:label="List of Games by Genre"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>